<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Spicy Controller</title>
</head>
<body ng-app="spicyApp" ng-controller="SpicyController">
    <div>
        <input ng-model="customSpice">
        <button ng-click="spicy('chilli')">Chilli</button>
        <button ng-click="spicy(customSpice)">Custom Spice</button>
    </div>
    <p>The food is {{spice}} spicy!</p>
</body>
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controller.js"></script>
</html>